.containerIU{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

.container-IU{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.inputs-IU {
    height: 53px;
    width: 280px;
    border: none;
    background-color: #D3D3D3;
    color:#000000;
    border-radius: 5px;
    padding: 15px;
    margin: 5px;
    margin-bottom: 15px;
}

h1 {
    margin-top: 0px;
}

.titulo-IU{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    height: 70px;
    margin: 30px;
    margin-top: 0px;
    animation: animacaoDireita 1.25s;
}


.file-upload-wrapper {
    position: relative; 
    display: flex;
    align-items: center;
    width: 100%;
    border: 2px solid #ccc; 
    border-radius: 8px;
    margin-bottom: 20px;
    overflow: hidden; 
    height: 50px; 
}


.file-upload-wrapper .file-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0; 
    cursor: pointer;
    z-index: 20; 
}


.file-upload-button {
    background-color: #007bff; 
    color: white;
    padding: 0 15px;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    white-space: nowrap;
    font-size: 0.9rem;
    font-weight: bold;
    border-right: 2px solid #ccc; 
    transition: background-color 0.2s;
    z-index: 10;
}

.file-upload-button:hover {
    background-color: #0056b3; 
}


.file-upload-filename {
    flex-grow: 1; 
    padding: 0 10px;
    color: #666; 
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
    font-size: 0.9rem;
    z-index: 10;
}

@media (max-width: 600px) {
    h2 {
        font-size: 20px;
    }

    .titulo-IU {
        font-size: 20px;
    }
}
