@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

.formulario {
    background-color: #32bbff;
    max-width: 500px;
    margin: auto;
    padding: 90px;
    background-color:#FFFFFF;
    display: block;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
}

.tituloFormulario {
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: bold;
}


.cadastroFormulario input {
    width: 400px;
    color: rgb(10, 4, 4);
    padding: 15px;
    font-size: 15px;
    display: block;
    border: 4px solid #d3d3d3;
    border-radius: 10px;
    background-color: #d3d3d3;
    margin-bottom:4px;
}

.cadastroFormulario label {
    display: block;
    color: rgb(0, 0, 0);
    margin-bottom: 05px;
    font-weight: bold;
    padding: 10px;
    font-size: 20px;
    text-align: left;
    
}

.botaoContinuar button {
    background-color: #32bbff;
    border-radius: 8px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin: 45px;
    width: 200px;
    padding: 12px;
    cursor: pointer;
    color: white;
    border: 4px solid #32bbff;

}

.btnFormaDePagamento{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 350px;
    min-width: 250px;
    padding: 12px 20px;
    background-color: white;
    cursor: pointer;
    transition: background-color 1s ease, box-shadow 1s ease;
}

.btnFormaDePagamento h1{
    margin-top: 0px;
}

.btnFormaDePagamento:hover {
    background-color: #9f9f9f;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.paymentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px;
    min-height: 100vh;
    margin: 0;
    gap: 10px;
    box-shadow: inset 0 6px 6px rgba(0, 0, 0, 0.103);
}

.mainH1{
    font-size: 40px;
    margin: 50px;
    margin-top: 100px;
    text-align: center;
}

@media (max-width: 600px) {
    .mainH1 {
        font-size: 30px;
    }

    .btnFormaDePagamento img{
        width: 40px;
    }
    .btnFormaDePagamento h1{
        font-size: 20px;
    }
}